JPwH/examples/src/main/resources/wsdl/example.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PurchaseOrder"
             targetNamespace="http://actioncon.com/contract/po"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://actioncon.com/contract/po"
             xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12"
             xmlns:po="http://actioncon.com/schema/po"
             xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/">
    <documentation>Ejemplo de contrato para un servicio web.</documentation>
    
    <!-- 1.- Abstract Definitions -->
    <!-- 1.1.- Types -->
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://actioncon.com/schema/po"
                    targetNamespace="http://actioncon.com/schema/po"
                    elementFormDefault="qualified">
            <xsd:element name="purchaseOrder" type="PurchaseOrderType"/>
            
            <xsd:element name="acknowledgement" type="xsd:string"/>

            <xsd:complexType name="PurchaseOrderType">
                <xsd:sequence>
                    <xsd:element name="poNumber" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    
    <!-- 1.2.- Messages: msg + 'operation name' + 'Request/Response' -->
    <message name="msgPurchaseOrderRequest">
        <part name="PurchaseOrder" element="po:purchaseOrder"/>
    </message>
    <message name="msgPurchaseOrderResponse">
        <part name="Acknowledgement" element="po:acknowledgement"/>
    </message>
    
    <!-- 1.3.- Port Type: contenedor para un conjunto de operaciones relacionadas -->
    <portType name="ptPurchaseOrder">
        <!-- 1.3.1.- Operations -->
        <operation name="opSubmitOrder">
            <input  message="tns:msgPurchaseOrderRequest"/>
            <output message="tns:msgPurchaseOrderResponse"/>
        </operation>
    </portType>
    
    <!-- 2.- Concrete Definitions -->
    <binding name="purchaseOrderBinding" type="tns:ptPurchaseOrder">
        <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="opSubmitOrder">
            <soap11:operation soapAction="http://actioncon.com/submitOrder/request" style="document"/>
            
            <input>
                <soap11:body use="literal"/>
            </input>
            <output>
                <soap11:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <service name="purchaseOrderService">
        <port name="purchaseOrderPort" binding="tns:purchaseOrderService">
            <soap11:address location="http://actioncon.com/services/soap11/purchaseOrder"/>
        </port>
    </service>
    
</definitions>
