JPwH/examples/src/main/resources/wsdl/example2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- DESCRIPTOIN por DEFINITION -->
<description targetNamespace="http://actioncon.com/contract/po"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://actioncon.com/contract/po"
             xmlns:po="http://actioncon.com/schema/po"
             xmlns:soapbind="http://www.w3.org/ns/wsdl/soap">

    <!-- 1.- Abstract Definitions -->
    <!-- 1.1.- Types -->
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://actioncon.com/schema/po"
                    targetNamespace="http://actioncon.com/schema/po"
                    elementFormDefault="qualified">
            <xsd:element name="purchaseOrder" type="PurchaseOrderType"/>
            
            <xsd:element name="acknowledgement" type="xsd:string"/>

            <xsd:complexType name="PurchaseOrderType">
                <xsd:sequence>
                    <xsd:element name="poNumber" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    
    <!-- 1.2.- INTERFACE: contenedor para un conjunto de operaciones relacionadas -->
    <interface name="purchaseOrderInterface">
        <operation name="opSubmitOrder" pattern="http://www.w3.org/2006/01/wsdl/in-out">
            <input  element="po:purchaseOrder"   messageLabel="In"/>
            <output element="po:acknowledgement" messageLabel="Out"/>
        </operation>
    </interface>
    
    <!-- 2.- Concrete Definitions -->
    <binding name="purchaseOrderBinding" interface="purchaseOrderInterface" type="http://www.w3.org/2006/01/wsdl/soap" soapbind:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">

        <operation ref="tns:opSubmitOrder" soapbind:mep="http://www.w3.org/2003/05/soap/mep/request-response" soapbind:action="http://actioncon.com/submitOrder/request"/>

    </binding>
    
    <service name="purchaseOrderService" interface="purchaseOrderInterface">
        <endpoint name="purchaseOrderEndpoint" binding="tns:purchaseOrderBinding" address="http://actioncon.com/services/soap12/purchaseOrder"/>
    </service>
</description>